@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-vollkorn text-darkGray select-none overflow-hidden
    w-screen m-0 p-0;
  }
  section {
    @apply w-screen h-full;
  }
  h1 {
    @apply text-4xl sm:text-5xl xl:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl xl:text-5xl;
  }
  h3 {
    @apply text-2xl sm:text-3xl xl:text-4xl;
  }
  h4 {
    @apply text-xl sm:text-2xl xl:text-3xl;
  }
  h5 {
    @apply text-lg sm:text-xl xl:text-2xl;
  }
  h6 {
    @apply text-base sm:text-lg xl:text-xl;
  }
  p {
    @apply text-sm sm:text-base xl:text-lg;
  }
}

@layer components {
  .navbar_wrapper {
    @apply fixed flex justify-between w-screen
    pt-4 pb-3 px-4 
    border-b border-solid border-lightGray shadow;
  }

  /* .hero_wrap {
    @apply bg-black relative cursor-pointer
    w-3/5 md:w-2/5 h-96 md:h-xl xl:h-xxl
    top-20 left-0 right-0 m-auto text-center;
  } */

  /* 
  .hero_img {
    @apply opacity-70 h-96 md:h-xl xl:h-xxl;
  } */
  .boxbackground {
    background: url("../../public/fashionTop.jpeg");
    @apply relative w-56 h-96 bg-cover
    top-20 left-0 right-0 m-auto;
  }
  .box1 {
    @apply absolute w-56 h-96 inset-0 m-auto;
  }
}
/* .boxbackground {
  position: relative;
  width: 800px;
  height: 500px;
  background: url("../../public/fashionTop.jpeg");
  background-size: cover;
} */
/* .box1 {
  position: absolute;
  width: 800px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 200px;
} */
